body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a232d;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #abb4bb;
  padding: 30px;
  box-shadow: rgba(245, 235, 235, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  color: #171a1c;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  background-color: #868a8e;
  color: #ffffff;
  border: none;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px dashed rgb(255, 255, 255);
  color: #001f3f;
}

.city h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #0074d9;
}

.date {
  opacity: 0.8;
  font-size: 16px;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #001f3f;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

#view-all-cities {
  display: none;
  margin-top: 20px;
  color: #13181d;
  text-decoration: none;
  font-size: 18px;
}

#view-all-cities:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #001f3f;
}

footer a {
  color: #0074d9;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}